<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product 
    Id="936b541d-b9b7-4edf-b008-4742ea4c695d" 
    Name="yaircc" 
    Language="1033" 
    Version="1.1.20.0" 
    Manufacturer="rastating" 
    UpgradeCode="d234ebda-cfc8-47dd-90b6-eea8c6a4fe2d">
    
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of yaircc is already installed. Setup will now exit."></MajorUpgrade>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="yaircc">
				</Directory>
			</Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="yaircc">
          <Component Id="ApplicationShortcut" Guid="8eccfdbe-3be7-42ce-9d29-aa701f4c3e4c">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="yaircc"
                      Description="The free, open-source IRC client for Windows."
                      Target="[INSTALLLOCATION]yaircc.exe"
                      WorkingDirectory="INSTALLLOCATION"/>
            
            <RemoveFolder Id="ApplicationProgramsFolder" 
                          On="uninstall"/>
            
            <RegistryValue Root="HKCU" 
                           Key="Software\yaircc" 
                           Name="installed" 
                           Type="integer" 
                           Value="1" 
                           KeyPath="yes"/>
            
            <Shortcut Id="UninstallProduct"
                      Name="Uninstall yaircc"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Uninstalls yaircc" />
          </Component>
        </Directory>
      </Directory>
		</Directory>

		<Feature Id="ProductFeature" ConfigurableDirectory="INSTALLLOCATION" Title="yaircc" Level="1">
      <ComponentGroupRef Id="MainGroup" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>

    <!-- User Interface-->
    <UI>
      <UIRef Id="YairccWixUI_InstallDir" />
      <Publish Dialog="YairccExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">LAUNCHAPPONEXIT = 1 and NOT Installed</Publish>
    </UI>
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="WixShellExecTarget" Value="[#fil1FE94CE8B7586B41941DE0E15DA0151C]" />
    <Property Id="LAUNCHAPPONEXIT" Value="1" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
	</Product>
</Wix>