/*
<theme name="Terminal" id="a6b48d28-2623-4671-a37b-60e0a49eaec2">
	<author website="http://www.intninety.co.uk/">intninety</author>
	<description>A terminal theme consisting of high contrasting colours.</description>
</theme>
*/

body, tr, tbody, table {
	font-family: monospace;
	font-size: 10pt;
	color: #5fba3d;
	background-color: #080808;
}

.message-table {
	width: 100%;
}

a
{
	color: #00ffff;
}

#splash {
	color: #DDD;
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

.payload {
	width: 100%;
	padding: 1px 1px 1px 3px;
	white-space: pre-wrap;
}

.timestamp {
	font-style: normal !important;
	vertical-align: top;
	white-space: nowrap;
}

.source {
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
}

.ServerMessage, .WelcomeMessage
{
	color: #FFFFFF;
}

.ActionMessage .source, .ActionMessage .payload {
	font-style: italic;
}

.ActionMessage .source {
	padding-right: 0px;
}

.ErrorMessage {
    color: #d5381a;
}

.ErrorMessage .payload {
	white-space: pre-wrap;
}

.NoticeMessage .payload {
	white-space: pre-wrap;
	font-weight: bold;
}

.NotificationMessage .payload {
	background-color:#5fba3d;
    color:#080808;
	white-space: pre-wrap;
}

.WarningMessage .source {
	font-variant: small-caps;
	font-size: 90%;
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
}

.WarningMessage, .NoticeMessage, .ActionMessage {
	color: #e5df43;
}